* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #f0f5f9;
}

/* all headers */

header {
  
  display: flex;
  /* background-color: #1e2022; */
  height: 50px;
  color: #f0f5f9;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-image: url("../img/background2.jpg");
  }

.logo_header_footer{
  /* width: 10vw; */
  height: 5vh;
}

.logo {
  
  margin-left: 20px;
  color: #f0f5f9;
  font-size: x-large;
}

.menuAttach {
  display: flex;
}

.attach {
  padding: 10px;
  margin: 10px;
  color: #f0f5f9;
}

/* all sections*/

.sec1 {
  display: flex;
  flex-direction: column;
  height: calc(80vh - 58px);
  max-height: calc(58vw + 64px);
  background-image: url("../img/Background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #c9d6df; */
  align-items: center;
  justify-content: center;
}

.sec1>img {
  block-size: 300px;
}

.sec1>h2 {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.sec1>button {
  width: 200px;
  height: 50px;  
  /* background-color: #52616b; */
  margin-top: 50px;
  font-size: 25px;
}

/* sec2 */

.sec2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 400px;
  background-color: #c23949;
}

.sec2>.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec2>.item>i {
  display: flex;
  align-items: center;
  align-self: center;
  width: 150px;
  height: 150px;
}

.sec2>.item>i>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2>.item>h3 {
  margin-top: 15px;
}

.sec2>.item>h4 {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
}

/* sec3 */

.sec3 {
  display: flex;
  /* background-color: #c9d6df; */
  background-image: url("../img/Background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  align-items: center;
  justify-content: center;
}

/* sec4 */

.sec4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  height: 200px;
}

.sec4>.item {
  display: flex;

  height: 200px;

}

.sec4>.item>i>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sec5 */

.sec5 {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 40px;
  
}

/* footer*/

footer {
  display: flex;
  background-color: #1e2022;
  height: 75px;
  color: #f0f5f9;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/background2.jpg");
}

footer>h4 {
  margin-left: 20px;
}

footer>ul {
  display: flex;
  margin: 10px;
}

footer>ul>li>a {
  padding: 20px;
}

img{
  height: 5vh;
}

  /* Responsividade */

@media screen and (min-device-width: 0px) and (max-device-width: 420px) {
  
  header{
    height: 50px;
    width: 100vw;
    color: white;
    align-items: center;
    justify-content: space-between;
  }

}