* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: sans-serif;
}

body {
  background-image: url("../img/Background3.jpg");
}

/* all headers */

header {
  display: flex;
  background-color: #1e2022;
  height: 50px;
  color: #f0f5f9;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-image: url("../img/background2.jpg");
}

.logo_header_footer{
  /* width: 10vw; */
  height: 5vh;
}

.logo {
  margin-left: 20px;
  color: #f0f5f9;
  font-size: x-large;
}

.menuAttach {
  display: flex;
}

.attach {
  padding: 10px;
  margin: 10px;
  color: #f0f5f9;
}

/* sections */

.sec1 {
  display: flex;
  height: calc(40vh - 50px);
  align-items: center;
  justify-content: center;
  background-color: #c23949;
}

.sec1>h1 {
  font-size: 100px;
}

/* SECTION 2 */

.sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 50vw;
  height: 100vh;
  background-color: white;
  padding-top: 20px;
  
}

.sec2>.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec2>.team>i {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

.sec2>.team>i>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec2>.team>h4{
  margin-top: 20px;
}

.sec2>.team>p{
  margin: 20px;
}

/* footer*/

footer {
  display: flex;
  background-color: #1e2022;
  height: 50px;
  color: #f0f5f9;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/background2.jpg");
}

footer>h4 {
  margin-left: 20px;
}

footer>ul {
  display: flex;
  margin: 10px;
}

footer>ul>li>a {
  padding: 20px;
}

img{
  height: 5vh;
}

  /* Responsividade */

@media screen and (min-device-width: 0px) and (max-device-width: 420px) {
  .sec1 {
    height: calc(20vh - 50px);
  }
  
  .sec1>h1 {
    font-size: 50px;
  }

  .sec2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 30px auto;
    width: 50vw;
    height: 156vh;
    padding-top: 0px;    
  }

  footer {
    height: 60px;
  }
}