* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #f0f5f9;
}

/* all headers */

header {
  display: flex;
  background-color: #1e2022;
  height: 50px;
  color: #f0f5f9;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-image: url("../img/background2.jpg");
}

.logo_header_footer{
  /* width: 10vw; */
  height: 5vh;
}

.logo {
  margin-left: 20px;
  color: #f0f5f9;
  font-size: x-large;
}

.menuAttach {
  display: flex;
}

.attach {
  padding: 10px;
  margin: 10px;
  color: #f0f5f9;
}

/* sections */

.sec1 {
  display: flex;
  height: calc(40vh - 50px);
  align-items: center;
  justify-content: center;
  background-color: #c23949;
}

.sec1>h1 {
  font-size: 100px;
}

/* SECTION 2 */

.sec2 {
  display: flex;
  background-image: url("../img/Background3.jpg");
  height: calc(60vh - 50px);
  justify-content: center;
}

.sec2>h3 {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  margin-left: 35px;
  margin-right: 35px;
}

/* footer*/

footer {
  display: flex;
  background-color: #1e2022;
  height: 50px;
  color: #f0f5f9;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/background2.jpg");
}

footer>h4 {
  margin-left: 20px;
}

footer>ul {
  display: flex;
  margin: 10px;
  
}

footer>ul>li>a {
  padding: 20px;
}

img{
  height: 5vh;
}

/* Responsividade */

@media screen and (min-device-width: 0px) and (max-device-width: 420px) {
  .sec1 {
    height: calc(28vh - 50px);
  }
  
  .sec1>h1 {
    font-size: 52px;
    margin: 0px 30px;
  }

  .sec2 {
    height: calc(100vh - 50px);
  }

  .sec2>h3 {
    text-align: start;
    font-size: 30px;
    margin-left: 35px;
    margin-right: 35px;
  }
  
  footer {
    height: 60px;
  }

}